<?xml version="1.0"?>
<robot name="sim_vehicle" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="base_frame" default="base_link"/>
  <xacro:arg name="mesh_file" default="package://sim_vehicle_description/mesh/sim_vehicle.dae"/>
  <xacro:arg name="mesh_scale" default="1.0 1.0 1.0"/>
  <xacro:arg name="mesh_xyz" default="1.0 0.0 0.0"/>
  <xacro:arg name="mesh_rpy" default="1.57079632679 0.0 4.71238898038"/>

  <link name="$(arg base_frame)">
    <visual name="vehicle_visual">
      <origin xyz="$(arg mesh_xyz)" rpy="$(arg mesh_rpy)"/>
      <geometry>
        <mesh filename="$(arg mesh_file)" scale="$(arg mesh_scale)"/>
      </geometry>
    </visual>
  </link>
</robot>
